<h1>Edit comment</h1>

<% form_for(comment, {action: path_to.comment(comment), method: 'PUT', id: "comment_form"}, function (form) { %>
  <%- partial('comments/form.ejs', {locals: {form: form, comment: comment}}) %>
  <%- form.submit('Update comment') %> or
  <%- link_to('Cancel', path_to.comment(comment)) %>
<% });%>
