<%- page.htmlContent() %>

<% if (page.path !== '/') { %>
  <div class="discussion">
    <div id="disqus_thread"></div>
    <script>
      var disqus_shortname = 'railwayjs', disqus_identifier = "<%= page.path %>";
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  </div>
<% } %>
