body {
  padding: 0px;
  background: #f3f3f3;
}
body, table, input, select {
  font-family: DejaVu Sans Mono, verdana, fixed;
  font-size: 12pt;
  line-height: 150%;
  color: #444;
}

h1 {
  line-height: 3em;
  font-size: 1.3em;
}

.helper, .helper * {
  font-size: 12px;
}

a, a:link, a:visited, a:active, a:hover {
  color: #479;
}

.wrap {
  width: 700px;
  margin: 0 auto;
}

label.error {
  color: #900;
}

.content {
  clear: both;
}

a.small {
  font-size: 12px;
}

.flash {
  height: 30px;
  font-family: DejaVu Sans Mono, fixed;
  font-size: 14pt;
  border-radius: 5px;
  display: none;
  float: left;
  position: absolute;
  left: 400px;
  top: -60px;
  padding: 10px 50px 5px 10px;;
  line-height: 25px;
  white-space: nowrap;
}

p.close {
  margin: 0;
  display: block;
  height: 10px;
  right: 30px;
  position: absolute;
  top: 10px;
  width: 10px;
  cursor: pointer;
}

.error {
  background: #fee;
  color: #d44;
  border: 5px solid #fdd;
}

.info {
  background: #efe;
  color: #090;
  border: 5px solid #dfd;
}

.menu ul {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 100%;
  border-top: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
}
.menu ul li {
  display: inline;
  margin: 0;
  padding: 10px;
  white-space: nowrap;
  line-height: 33px;
}
.menu ul li.active {
  background: #ddd;
  color: #666;
  font-weight: 700;
}

.content {
}

h1.title {
  font-size: 25pt;
}

h1.title a {
  text-decoration: none;
}

.content h2 {
  font-size: 18pt;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1, h2, h3 {
  color: #999;
  /* text-indent: -40px; */
  text-shadow: 1px 1px 1px #fff;
}

pre {
  margin: 1em 0px;
  background: #e8e8e8;
  padding: 10px;
  line-height: 100%;
  border-radius: 2px;
  overflow: auto;
}

pre code {
  color: #222;
  font-size: 14px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

code {
  font-family: Monospace;
  color: #222;
  font-weight: 600;
}

.content ul {
  list-style-type: circle;
}

img.avatar {
  padding: 5px;
  background: #fff;
  border: 1px solid #aaa;
}

.comment {
  border: 1px solid #e0e0e0;
  padding: 5px;
  background: #eee;
  margin-bottom: 10px;
}

.comment-header {
  text-align: middle;
  margin-bottom: 10px;
}
.comment-header img.avatar {
  vertical-align: middle;
}

form.new-comment textarea {
  border: 1px solid #aaa;
  width: 100%;
  height: 100px;
}

form.new-comment {
  margin-bottom: 10px;
}

.comment .moderate {
  float: right;
}

.social {
  padding-top: 20px;
  float: right;
}
